@{
    Layout = "/Views/Shared/Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<form action="/status/search" method="POST" class="input-group mb-3">
    <input name="search" class="form-control" />
    <button class="btn btn-outline-secondary">Pesquisar</button>
</form>

<table id="statusTable" class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function () {
        $.getJSON('/status/get', function (dados) {
            $.each(dados, function (key, value) {
                $('#statusTable > tbody:last-child')
                    .append('<tr>' +
                        '<td>' + value.statusId + '</td>' +
                        '<td>' + value.name + '</td>' +
                        '<td><a href="/status/delete/' + value.statusId + '">Delete</a></td>' +
                        '<td><a href="/status/update/' + value.statusId + '">Update</a></td></tr>')
            });
        });
    });
</script>

<a href="/status/create" class="btn btn-primary">Create</a>